@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,900&display=swap');

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	background: #EAEAEA url('../images/achtergrond website.png');
	
}

.header {
	width: 100%;
}

.logo {
	height: auto;
	width: 80px;
	}

.bewegende-container {
	margin: -20px 0 0 -20px;
	transform-style: preserve-3d;
	justify-content: space-between;
	display: flex;
}

.bewegende-fotocontainer {
	padding: 0 0 0 0;
	transform-style: preserve-3d;
	justify-content: space-between;
	display: flex;
}

.bewegende-container .box
{
	position: relative;
	width: 100%;
	height: 275px;
	margin: 20px 0 0 20px;
	background: #24A596;
	border-radius: 20px;
	transform-style: preserve-3d;
	flex-wrap: wrap;
	flex: 0 100%;
	display: inline-block;
}

.bewegende-fotocontainer .foto-box
{
	position: relative;
	width: 100%;
	height: 500px;
	margin: 0px 0 0 0px;
	background: #24A596;
	border-radius: 20px;
	transform-style: preserve-3d;
	flex-wrap: wrap;
	flex: 0 100%;
	display: inline-block;
}




.bewegende-container .box:nth-child(1)::before
{
	content: 'ONLINE';
	position: absolute;
	top: 10px;
	left: 20px;
	font-size: 1em;
	font-weight: 900;
	color: #fff;
	font-style: italic;
	opacity: 0;
}

.bewegende-container .box:nth-child(1)::after
{
	content: 'TAXATIE MODULE';
	position: absolute;
	bottom: 10px;
	right: 20px;
	font-size: 1em;
	font-weight: 900;
	color: #fff;
	font-style: italic;
	opacity: 0;
	transition: 0.5s;
}


.bewegende-container .box:nth-child(2)::before
{
	content: 'HUISSTIJL';
	position: absolute;
	top: 10px;
	left: 20px;
	font-size: 1em;
	font-weight: 900;
	color: #fff;
	font-style: italic;
	opacity: 0;
}

.bewegende-container .box:nth-child(2)::after
{
	content: 'WEBSITE';
	position: absolute;
	bottom: 10px;
	right: 20px;
	font-size: 1em;
	font-weight: 900;
	color: #fff;
	font-style: italic;
	opacity: 0;
	transition: 0.5s;
}

.bewegende-container .box:nth-child(3)::before
{
	content: 'MOTION';
	position: absolute;
	top: 10px;
	left: 20px;
	font-size: 1em;
	font-weight: 900;
	color: #fff;
	font-style: italic;
	opacity: 0;
}

.bewegende-container .box:nth-child(3)::after
{
	content: 'GRAPHIC';
	position: absolute;
	bottom: 10px;
	right: 20px;
	font-size: 1em;
	font-weight: 900;
	color: #fff;
	font-style: italic;
	opacity: 0;
	transition: 0.5s;
}

.bewegende-container .box:nth-child(4)::before
{
	content: 'MEER';
	position: absolute;
	top: 10px;
	left: 20px;
	font-size: 1em;
	font-weight: 900;
	color: #fff;
	font-style: italic;
	opacity: 0;
}

.bewegende-container .box:nth-child(4)::after
{
	content: 'OPDRACHTEN';
	position: absolute;
	bottom: 10px;
	right: 20px;
	font-size: 1em;
	font-weight: 900;
	color: #fff;
	font-style: italic;
	opacity: 0;
	transition: 0.5s;
}

.fotografie .box:nth-child(1)::before
{
	content: 'FESTIVALS';
	position: absolute;
	top: 10px;
	left: 20px;
	font-size: 1em;
	font-weight: 900;
	color: #fff;
	font-style: italic;
	opacity: 0;
}

.fotografie .box:nth-child(1)::after
{
	content: 'CLUBS';
	position: absolute;
	bottom: 10px;
	right: 20px;
	font-size: 1em;
	font-weight: 900;
	color: #fff;
	font-style: italic;
	opacity: 0;
	transition: 0.5s;
}

.fotografie .box:nth-child(2)::before
{
	content: 'DOUBLE EXPOSURE';
	position: absolute;
	top: 10px;
	left: 20px;
	font-size: 1em;
	font-weight: 900;
	color: #fff;
	font-style: italic;
	opacity: 0;
}

.fotografie .box:nth-child(2)::after
{
	content: 'PHOTOSHOP';
	position: absolute;
	bottom: 10px;
	right: 20px;
	font-size: 1em;
	font-weight: 900;
	color: #fff;
	font-style: italic;
	opacity: 0;
	transition: 0.5s;
}




.bewegende-container .box:hover::before,
.bewegende-container .box:hover::after
{
	opacity: 0.3;
}

.bewegende-container .box .name{
	position: absolute;
	top: 40px;
	left: 0;
	text-align: center;
	color: #fff;
	text-shadow: 0px 0px 40px #000;
	width: 100%;
	transform-style: preserve-3d;
	transform: translate3d(0,0,75px);
	transition: 0.5s;
	opacity: 0;
	z-index: 10;
}

.bewegende-container .box:hover .name
{
	top: 20px;
	opacity: 1;
		color: #fff;
}




.bewegende-container .box .circle
{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 180px;
	height: 180px;
	border-radius: 50%;
	transition: 0.5s;
	background: #fff;
	transform-style: preserve-3d;
	z-index: 9;
	opacity: 1;
	transform: translate3d(-50%,-50%,50px);
}

.bewegende-fotocontainer .foto-box .voorgrond
{
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 100%;
	z-index: 11;
	transition: 0.5s;
	transform-style: preserve-3d;
	transform: translate3d(-50%,-50%,70px) rotate(0deg);
}

.bewegende-container .box .voorgrond
{
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 100%;
	z-index: 11;
	transition: 0.5s;
	transform-style: preserve-3d;
	transform: translate3d(-50%,-50%,70px) rotate(0deg);
}

.bewegende-container .box .midden
{
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 100%;
	z-index: 12;
	transition: 0.5s;
	transform-style: preserve-3d;
	transform: translate3d(-50%,-50%,60px) rotate(30deg);
}
	
.bewegende-container .box .achtergrond
{
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 100%;
	z-index: 13;
	transition: 0.5s;
	transform-style: preserve-3d;
	transform: translate3d(-50%,-50%,50px) rotate(0deg);
}



.bewegende-container .box .voorgrond-logopedie
{
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 100%;
	z-index: 12;
	transition: 0.5s;
	transform-style: preserve-3d;
	transform: translate3d(-50%,-50%,70px) rotate(0deg);
}

.bewegende-container .box .midden-logopedie
{
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 100%;
	z-index: 13;
	transition: 0.5s;
	transform-style: preserve-3d;
	transform: translate3d(-50%,-50%,60px) rotate(0deg);
}
	
.bewegende-container .box .achtergrond-logopedie
{
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 100%;
	z-index: 14;
	transition: 0.5s;
	transform-style: preserve-3d;
	transform: translate3d(-50%,-50%,50px) rotate(0deg);
}

.bewegende-container .box .voorgrond-webbio
{
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 100%;
	z-index: 13;
	transition: 0.5s;
	transform-style: preserve-3d;
	transform: translate3d(-50%,-50%,50px) rotate(0deg);
}
	
.bewegende-container .box .achtergrond-webbio
{
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 100%;
	z-index: 12;
	transition: 0.5s;
	transform-style: preserve-3d;
	transform: translate3d(-50%,-50%,50px) rotate(0deg);
}

.bewegende-container .box .voorgrond-muziekfotografie
{
	position: absolute;
	object-fit:cover;
	top: 50%;
	left: 50%;
	max-width: 100%;
	z-index: 13;
	transition: 0.5s;
	transform-style: preserve-3d;
	transform: translate3d(-50%,-50%,50px) rotate(0deg);
	border-radius: 20px;
	height: 100%;
	width: 100%;
}
	
.bewegende-container .box .midden-muziekfotografie
{
	position: absolute;
	object-fit:cover;
	top: 50%;
	left: 50%;
	max-width: 100%;
	z-index: 12;
	transition: 0.5s;
	transform-style: preserve-3d;
	transform: translate3d(-50%,-50%,50px) rotate(0deg);
	border-radius: 20px;
	height: 100%;
	width: 100%;
	
}

.bewegende-container .box .achtergrond-muziekfotografie
{
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 100%;
	z-index: 11;
	transition: 0.5s;
	transform-style: preserve-3d;
	transform: translate3d(-50%,-50%,50px) rotate(0deg);
	border-radius: 20px;
}

.bewegende-fotocontainer .foto-box .experimentele-fotografie1
{
	
	object-fit:cover;
	width:50%;
	height:50%;
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 100%;
	z-index: 14;
	transition: 0.5s;
	transform-style: preserve-3d;
	transform: translate3d(-50%,-50%,50px) rotate(0deg);
	border-radius: 20px;
	mix-blend-mode: multiply;
}

.bewegende-fotocontainer .foto-box .experimentele-fotografie2
{
	
	object-fit:cover;
	width:50%;
	height:50%;
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 100%;
	z-index: 13;
	transition: 0.5s;
	transform-style: preserve-3d;
	transform: translate3d(-50%,-50%,50px) rotate(0deg);
	border-radius: 20px;
	mix-blend-mode: multiply;
}

.bewegende-fotocontainer .foto-box .experimentele-fotografie3
{
	object-fit:cover;
	width:50%;
	height:50%;
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 100%;
	z-index: 11;
	transition: 0.5s;
	transform-style: preserve-3d;
	transform: translate3d(-50%,-50%,50px) rotate(0deg);
	border-radius: 20px;
	mix-blend-mode: multiply;
}

.bewegende-fotocontainer .foto-box .experimentele-fotografie4
{
	object-fit:cover;
	width:50%;
	height:50%;
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 100%;
	z-index: 10;
	transition: 0.5s;
	transform-style: preserve-3d;
	transform: translate3d(-50%,-50%,50px) rotate(0deg);
	border-radius: 20px;
	mix-blend-mode: multiply;
}

.bewegende-container .box .experimentele-fotografie1
{
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 100%;
	z-index: 14;
	transition: 0.5s;
	transform-style: preserve-3d;
	transform: translate3d(-50%,-50%,50px) rotate(0deg);
	border-radius: 20px;
	mix-blend-mode: multiply;
}

.bewegende-container .box .experimentele-fotografie2
{
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 100%;
	z-index: 13;
	transition: 0.5s;
	transform-style: preserve-3d;
	transform: translate3d(-50%,-50%,50px) rotate(0deg);
	border-radius: 20px;
	mix-blend-mode: multiply;
}

.bewegende-container .box .experimentele-fotografie3
{
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 100%;
	z-index: 11;
	transition: 0.5s;
	transform-style: preserve-3d;
	transform: translate3d(-50%,-50%,50px) rotate(0deg);
	border-radius: 20px;
	mix-blend-mode: multiply;
}

.bewegende-container .box .experimentele-fotografie4
{
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 100%;
	z-index: 10;
	transition: 0.5s;
	transform-style: preserve-3d;
	transform: translate3d(-50%,-50%,50px) rotate(0deg);
	border-radius: 20px;
	mix-blend-mode: multiply;
}


.bewegende-container .box .ga-naar-opdrachten
{
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 100%;
	z-index: 12;
	transition: 0.5s;
	transform-style: preserve-3d;
	transform: translate3d(-50%,-50%,60px) rotate(0deg);
	mix-blend-mode: screen;
	
}



.bewegende-container .box .meer-opdrachten-macbook
{
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 100%;
	z-index: 10;
	transition: 0.5s;
	transform-style: preserve-3d;
	transform: translate3d(-50%,-50%,50px) rotate(0deg);
	
	
}





.bewegende-container .box:hover
{
border-radius: 20px;
}
	

.bewegende-container .box:hover .voorgrond
{	
transform: translate3d(-50%,-50%,125px) rotate(0deg);
	border-radius: 50px;
	}

.bewegende-container .box:hover .midden
{	
transform: translate3d(-35%,-50%,100px) rotate(0deg);
	border-radius: 0px;
	}

.bewegende-container .box:hover .achtergrond
{	
transform: translate3d(-60%,-50%,75px) rotate(-1deg);
	border-radius: 0;
	}



.bewegende-container .box:hover .voorgrond-logopedie
{	
transform: translate3d(-50%,-50%,125px) rotate(0deg);
	border-radius: 50px;
	}

.bewegende-container .box:hover .midden-logopedie
{	
transform: translate3d(-50%,-50%,100px) rotate(0deg);
	border-radius: 0px;
	}

.bewegende-container .box:hover .achtergrond-logopedie
{	
transform: translate3d(-50%,-50%,75px) rotate(-0deg);
	border-radius: 0;
	}

.bewegende-container .box:hover .voorgrond-webbio
{	
transform: translate3d(-50%,-55%,100px) rotate(0deg);
	border-radius: 50px;
	}

.bewegende-container .box:hover .achtergrond-webbio
{	
transform: translate3d(-50%,-50%,75px) rotate(-0deg);
	border-radius: 0;
	}

.bewegende-container .box:hover .voorgrond-muziekfotografie
{	
transform: translate3d(-50%,-50%,115px) rotate(0deg);
	border-radius: 20px;
	}

.bewegende-container .box:hover .midden-muziekfotografie
{	
transform: translate3d(-50%,-50%,75px) rotate(-0deg);
	border-radius: 20px;
	}

.bewegende-container .box:hover .achtergrond-muziekfotografie
{	
transform: translate3d(-50%,-50%,0px) rotate(0deg);
	border-radius: 20px;
	}

.bewegende-container .box:hover .experimentele-fotografie1
{	
transform: translate3d(-50%,-50%,175px) rotate(0deg);
	border-radius: 20px;
	}

.bewegende-container .box:hover .experimentele-fotografie2
{	
transform: translate3d(-50%,-50%,200px) rotate(0deg);
	border-radius: 20px;
	}

.bewegende-container .box:hover .experimentele-fotografie3
{	
transform: translate3d(-50%,-50%,225px) rotate(0deg);
	border-radius: 20px;
	}

.bewegende-container .box:hover .experimentele-fotografie4
{	
transform: translate3d(-50%,-50%,250px) rotate(0deg);
	border-radius: 20px;
	}

.bewegende-fotocontainer .foto-box:hover .experimentele-fotografie1
{	
transform: translate3d(-50%,-50%,175px) rotate(0deg);
	border-radius: 20px;
	}

.bewegende-fotocontainer .foto-box:hover .experimentele-fotografie2
{	
transform: translate3d(-50%,-50%,200px) rotate(0deg);
	border-radius: 20px;
	}

.bewegende-fotocontainer .foto-box:hover .experimentele-fotografie3
{	
transform: translate3d(-50%,-50%,225px) rotate(0deg);
	border-radius: 20px;
	}

.bewegende-fotocontainer .foto-box:hover .experimentele-fotografie4
{	
transform: translate3d(-50%,-50%,250px) rotate(0deg);
	border-radius: 20px;
	}


.bewegende-container .box:hover .ga-naar-opdrachten
{	
transform: translate3d(-50%,-50%,230px) rotate(-90deg);
	}


.bewegende-container .box:hover .meer-opdrachten-macbook
{	
transform: translate3d(-50%,-50%,100px) rotate(0deg);
	}



	
.bewegende-container .box:nth-child(1)
{
	background: #29B3AC;
}

.bewegende-container .box:nth-child(2)
{
	background: #4A9C98;
}

.bewegende-container .box:nth-child(3)
{
	background: #CC494A;
}

.bewegende-container .box:nth-child(4)
{
	background: #FA4343;
}



.bewegende-container .box:nth-child(1) .circle
{
	background:#A7BB13;
}

.bewegende-container .box:nth-child(2) .circle
{
	background: #FB8501;
}

.bewegende-container .box:nth-child(3) .circle

{
	background: #0B3C80;
}

.bewegende-container .box:nth-child(4) .circle

{
	background: #fff;
}


.kaart-achtergrond {
	object-fit:cover;
	width:100%;
	height:100%;
	border-radius: 20px;
}

p, blockquote {
	font-size: .8em;
	line-height: 1.6em;
	margin: 0px;
	margin-right: 20px;
	padding: 0px;
}

p, standaard {
	font-size: .9em;
	color: #404040;
	line-height: 1.6em;
}

h1 {
	font-size: 2.3em;
	color: #FFFFFF;
	line-height: .9em;
	margin-top: 0px;
}

h2 {
	font-size: 1.4em;
	color: #6E6E6E;
	line-height: .9em;
	margin-top: 0px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.breadcrumb {
	background: #757575;
	list-style: none;
	font-size: 1em;
	margin-top: 20px;
	padding: 20px;
	border-radius: 5px;
}

ul.breadcrumb li {
	display: inline-block;
	color: white;
}

ul.breadcrumb li + li:before {
	content: "/";
	padding-right: 10px;
}

ul.breadcrumb li a {
	text-decoration: none;
	color: #FA3B3A;
	padding: 10px;
}


li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

section {
	text-align: center;
}

figure {
	margin: -55px 0px 20px 20px;
	padding: 0px 0px 0px 0px;
}

.container {
	padding: 2em 1.2em;
}


.soundcloud-container {
	padding-bottom: 2em;

	
}

.soundcloud {
	width: 100%;
}







header {
	display: flex;
	justify-content: space-between;
	margin-top: -6px;
}


.opdracht-playground img {
	width: 100%;
}


footer .footer-container .container .footer-links {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: 0 auto;
	font-size: .9em;
}

footer .footer-container .container {
	text-align: center;
}

footer .footer-container .container .footer-links li {
	margin: 3px;
}

.hide-mobile {
	display: none;
	
}


.menu {
	width: 30px;
	margin-top: 0%;
}
.graphic {
	width: 55%;
	horizontal-align: middle;
	margin: 30px;
}

.id {
	width: 100%;
}

.mijn-werk {
	color: black;
}

nav ul {
	position: absolute;
	width: 50%;
	top: 0;
	right: 0;
	text-align: left;
	background: rgba(130,130,130,.95);
	height: 100%;
	z-index: 7;
	padding-top: 3em;
}

nav ul li a {
	color: white;
	text-decoration: none;
	display: block;
	width: 100%;
	padding: 1em 2em;
	background-color: rgba(97,97,97,0.30);
}

nav ul li a:hover {
	background-color: rgba(87,87,87,0.70);
}

.exit-btn {
	margin-bottom: 1em;
	margin-top: -1.9em;
	text-align: right;
	padding: 0 1.0em;
}

.exit-btn img {
	width: 15px;
	cursor: pointer;
}

.tiemen {
	margin-top: -6em;
}

.alle-cases {
	width: 100%;
}

.mijn-werk img {
	width: 100%;
}

.grafische-opdrachten-container img {
		width: 100%;
		filter: brightness(90%);
	transition: .2s;
	height: 100px;
	object-fit: cover;
}

.grafische-opdrachten-container img:hover {
		filter: brightness(100%);
}


.grafische-opdrachten-preview-link img {
		width: 100%;
		filter: brightness(90%);
	transition: .2s;
	margin-top: -40px;
	object-fit: cover;
}

.grafische-opdrachten-preview-link img:hover {
		filter: brightness(100%);
}

.uitleg-playground {
	margin: auto;
	width: 80%;
	text-align: center;
	
}

.opdracht {
	text-align: center;
}

.opdracht-afbeelding {
	margin: auto;
	width: 80%;
	text-align: center;
}


.uitleg-dtc {
	margin: auto;
	text-align: center;
	width: 80%;
	position: relative;
}






.dtc {
	width: 100%;
	margin-top: -40px;
}

.de {
	width: 100%;
	margin-top: 0px;
}





	.grafische-opdrachten li {
		width: 100%;
			flex: 0 30%;
		margin: 10px 0 0 10px;
		display: inline-block;
		flex-grow: 1;
	}
	

	
	.meer-opdrachten {
		margin-left: 10px;
	}
	

	
	.grafische-opdrachten {
		margin: -10px 0 0 -10px;
		display: flex;
		flex-wrap: wrap;
	}







@keyframes move {
		
		from {
			transform: translateY(0px);
		}
		
		to {
			transform: translateY(20px);
		}
	}



@media only screen and (min-width: 460px) {
	
	.grafische-opdrachten-container img {
	height: 145px;
		
	}
	
	
	
}

@media only screen and (min-width: 875px) {
	
	.subhead {
		margin-bottom: 15%;
		
	}
	
	
	
}


@media only screen and (min-width: 650px) {
			

	
	
	
	.soundcloud-container {
	padding-bottom: 2em;
	display: flex;
	flex-wrap: wrap;
	margin: -10px 0 0 -10px;

	
}

.soundcloud {
	width: 100%;
	flex: 0 45%;
	flex-grow: 1;
	margin: 10px 0 0 10px;
}
	
	
	
	.grafische-opdrachten li {
		width: 100%;
			flex: 0 30%;
		margin: 10px 0 0 10px;
		display: inline-block;
		flex-grow: 1;
	}
	

	
	.meer-opdrachten {
		margin-left: 10px;
	}
	
	.grafische-opdrachten {
		margin: -10px 0 0 -10px;
		display: flex;
		flex-wrap: wrap;
	
	}
	
	
	.tiemen {
		margin-top: -6em;
	}
	
	h1 {
		font-size: 5em;
		padding-top: -30px;
	}
	
	p {
		font-size: 1em;
	}
	
	blockquote {
		font-size: 1.6em;
		padding-top: -2em;
	}
	

	figure {
	margin: -100px 0px 50px 50px;
	padding: 0px 0px 0px 0px;
	}
	
	
	.subhead {
		font-size: 1.1em;
		margin-bottom: 12%;
	
	}
	
	footer .footer-container .container .footer-links li {
	margin: 1px;
	width: 70%;
}
	
	.playground-blok {
	display: flex;
	justify-content: space-between;
	width: 100%;
	
}

.beschrijving-playground {
	width: 50%;
}

.opdracht-playground {
	width: 50%;
	margin-left: 10px;
}

.opdracht-playground img {
	width: 100%;
}
	
	.grafische-opdrachten-container img {
	height: 160px;
}

}


@media only screen and (min-width: 1024px) {
	
	.logo {
	height: 80px;
	margin-top: -10px;
	margin-left: -5px;
	}
	
	.container {
	width: 80%;
	margin: 0 auto;
	}

	.show-desktop {
	display: block;
	margin: 0px auto 5% auto;
	}
	
	.hide-desktop {
	display: none;
	}
	
	nav ul {
		position: inherit;
		width: auto;
		background: none;
		height: auto;
		display: flex;
		padding-top: 0;
	}
	
	nav ul li {
		float: left;
	}
	
	nav ul li a {
		color: black;
		background-color: inherit;
		text-align: right;
		padding: 0em 3em 0em 0em;
		margin: 0em 0em 0em 0em;
	}
	
	nav ul li a:hover {
		background-color: inherit;
	}
	
	.scroll {
		animation: move 1s infinite alternate;
	}
	
	footer .footer-container .container .footer-links  {
		width: 61%;
	}
	
	.graphic {
		width: 40%;
	}
	
	.grafische-opdrachten li {
		width: 100%;
		flex: 0 20%;
		margin: 10px 0 0 10px;
		display: inline-block;
		flex-grow: 1;
	}
	
	.grafische-opdrachten {
		margin: -10px 0 0 -10px;
		display: flex;
		flex-wrap: wrap;
	
	}

	
	
}


